<div [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)', padding: '3rem'}">
      <ul *ngIf="users.length" class="p-card">
            <li (click)="onSelectUser(user.id)" *ngFor="let user of users" class="p-card-body">
                  <div class="p-2">
                        <p-iconField class="pi pi-user" style="margin-right: 8px;"></p-iconField>
                        <p-header [style]="'font-weight: bold'">{{ user.name }}</p-header>
                  </div>
                  <div class="p-2">
                        <p-iconField class="pi pi-inbox" style="margin-right: 8px;"></p-iconField>
                        <p-header>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p-header>
                  </div>
                  <div class="p-2">
                        <p-iconField class="pi pi-phone" style="margin-right: 8px;"></p-iconField>
                        <p-header>Phone: {{ user.phone }}</p-header>
                  </div>
                  <div class="p-2">
                        <p-iconField class="pi pi-globe" style="margin-right: 8px;"></p-iconField>
                        <p-header>Website: <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a>
                        </p-header>
                  </div>
            </li>
      </ul>
</div>

<!--
<app-user-details [selectedUser]="selectedUser"></app-user-details>
-->
