
ul {
    list-style-type: none;
    padding: 0;
}

.p-card-body {
    border: 1px solid #424b57;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #424b57;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    word-wrap: break-word;
    overflow: hidden;
}

.p-card-body:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h3 {
    margin: 0;
    color: #f5f9ff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.search-icon {
    font-size: 1.0rem;
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.search-input {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

.search-input::placeholder {
    color: var(--placeholder-color);
}


