<app-menu-bar></app-menu-bar>

<div
        [ngStyle]="{ backgroundColor: 'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)', padding: '3rem' }"
        class="w-full"
>
      <div class="card">
            <p-table
                    #dt
                    [globalFilterFields]="['name', 'email', 'phone']"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10, 20, 50]"
                    [rows]="5"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [value]="users()"
                    class="w-full"
            >
                  <ng-template pTemplate="caption">
                        <div class="search-container">
                              <span class="pi pi-search search-icon"></span>
                              <input
                                      (input)="setGlobalFilter($event)"
                                      class="search-input"
                                      pInputText
                                      placeholder="Search"
                                      type="text"
                              />
                        </div>
                  </ng-template>

                  <ng-template pTemplate="header">
                        <tr>
                              <th style="text-align: center; width: 25rem">Name</th>
                              <th style="text-align: center; width: 40rem">Email</th>
                              <th style="text-align: center; width: 40rem">Phone</th>
                        </tr>
                  </ng-template>

                  <ng-template let-user pTemplate="body">
                        <tr
                                (click)="onSelectUser(user.id)"
                                style="cursor: pointer; text-align: center"
                        >
                              <td style="text-align: center">{{ user.name }}</td>
                              <td style="text-align: center">
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                              </td>
                              <td style="text-align: center">{{ user.phone }}</td>
                        </tr>
                  </ng-template>
            </p-table>
      </div>
</div>
