<!--<div *ngIf="!users.length">
      <p *ngIf="loading">Loading users...</p>
      <p *ngIf="!loading && !users.length">No users available.</p>
</div>-->
<div [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)', padding: '3rem'}">
      <ul *ngIf="users.length" class="p-card">
            <li *ngFor="let user of users" class="p-card-body">
                  <h3>{{ user.name }} ({{ user.username }})</h3>
                  <p>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                  <p>Phone: {{ user.phone }}</p>
                  <p>Website: <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></p>
                  <p>
                        <strong>Company:</strong> {{ user.company.name }}<br>
                        <em>"{{ user.company.catchPhrase }}"</em><br>
                        <small>Specialty: {{ user.company.bs }}</small>
                  </p>
                  <p>
                        <strong>Address:</strong><br>
                        {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }} - {{
                              user.address.zipcode
                        }}
                  </p>
            </li>
      </ul>
</div>
