<div class="card">
      <p-menubar [model]="items">
            <ng-template let-item pTemplate="item">
                  <ng-container *ngIf="item.route; else urlRef">
                        <a [queryParams]="item.queryParams" [routerLink]="item.route" class="p-menuitem-link">
                              <span [class]="item.icon"></span>
                              <span class="ml-2">{{ item.label }}</span>
                        </a>
                  </ng-container>
                  <ng-template #urlRef>
                        <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                              <span [class]="item.icon"></span>
                              <span class="ml-2">{{ item.label }}</span>
                        </a>
                  </ng-template>
                  <ng-template #noLink>
                        <a class="p-menuitem-link">
                              <span [class]="item.icon"></span>
                              <span class="ml-2">{{ item.label }}</span>
                        </a>
                  </ng-template>
            </ng-template>
      </p-menubar>
</div>
